<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djk.web.dao.personResource.PeopleActiveWriteDao">
	<resultMap id="PeopleActiveResult" type="com.djk.web.entity.personResource.PeopleActive">
			<result property="id" column="id" />
			<result property="createBy" column="create_by" />
			<result property="createDate" column="create_date" />
			<result property="updateBy" column="update_by" />
			<result property="updateDate" column="update_date" />
			<result property="remarks" column="remarks" />
			<result property="activeName" column="active_name" />
			<result property="activeValue" column="active_value" />
			<result property="delFlag" column="del_flag" />
	</resultMap>
	<sql id="whereConditions">
        <where>
            1=1
            <if test="activeName != null and activeName != ''">
                and 
                (`active_name` like CONCAT('%',#{activeName},'%') or `active_value` like CONCAT('%',#{activeName},'%') or `id` like CONCAT('%',#{activeName},'%') )
            </if>
			and `del_flag` = 1           
        </where>
    </sql>
	<select id="get" parameterType="Integer" resultMap="PeopleActiveResult">
		select
		   *
		from `people_active`
		where `id` = #{id}
	</select>
	
	<update id="update" parameterType="com.djk.web.entity.personResource.PeopleActive">
        update `people_active` 
    	<set>
			<if test="id != null">`id`= #{id},</if>
			<if test="createBy != null">`create_by`= #{createBy},</if>
			<if test="createDate != null">`create_date`= #{createDate},</if>
			<if test="updateBy != null">`update_by`= #{updateBy},</if>
			<if test="updateDate != null">`update_date`= #{updateDate},</if>
			<if test="remarks != null">`remarks`= #{remarks},</if>
			<if test="activeName != null">`active_name`= #{activeName},</if>
			<if test="activeValue != null">`active_value`= #{activeValue}</if>
	    </set>
        where `id` = #{id}
	</update>
	
	<insert id="insert" parameterType="com.djk.web.entity.personResource.PeopleActive" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`people_active`
		(
			
			`create_by`,
			`create_date`,
			`update_by`,
			`update_date`,
			`remarks`,
			`active_name`,
			`active_value`,
			`del_flag`
		)
		values
		(
			
			#{createBy},
			#{createDate},
			#{updateBy},
			#{updateDate},
			#{remarks},
			#{activeName},
			#{activeValue},
			1
		)
	</insert>
	<select id="count" resultType="Integer">
		select count(*) from `people_active`
		 <include refid="whereConditions" /> 
	</select>

	<select id="findList" parameterType="com.djk.web.entity.personResource.PeopleActive" resultMap="PeopleActiveResult">
		SELECT * from people_active
		<include refid="whereConditions" />
	</select>
   
	<!-- 逻辑删除 -->
    <update id="delete" parameterType="Integer">
        update `people_active` 
        set `del_flag` = 2 where `id` = #{id}
	</update>
    <select id="checkNameUnique" parameterType="String" resultMap="PeopleActiveResult">
		select
		   *
		from `people_active`
		where `active_name` = #{activeName} and `del_flag` = 1 
	</select>
</mapper>