<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djk.web.dao.personResource.PeopleTemperatureWriteDao">
	<resultMap id="PeopleTemperatureResult" type="com.djk.web.entity.personResource.PeopleTemperature">
			<result property="id" column="id" />
			<result property="createBy" column="create_by" />
			<result property="createDate" column="create_date" />
			<result property="updateBy" column="update_by" />
			<result property="updateDate" column="update_date" />
			<result property="remarks" column="remarks" />
			<result property="temperature" column="temperature" />
			<result property="temperatureValue" column="temperature_value" />
			<result property="delFlag" column="del_flag" />
	</resultMap>
	 <sql id="whereConditions">
        <where>
            1=1
            <if test="temperature != null and temperature != ''">
                and 
                (`temperature` like CONCAT('%',#{temperature},'%') or `temperature_value` like CONCAT('%',#{temperature},'%')or `id` like CONCAT('%',#{temperature},'%')) 
            </if>
            and `del_flag` = 1
        </where>
    </sql>
	<select id="get" parameterType="Integer" resultMap="PeopleTemperatureResult">
		select
		   *
		from `people_temperature`
		where `id` = #{id}
	</select>
	
	<update id="update" parameterType="com.djk.web.entity.personResource.PeopleTemperature">
        update `people_temperature` 
    	<set>
			<if test="id != null">`id`= #{id},</if>
			<if test="createBy != null">`create_by`= #{createBy},</if>
			<if test="createDate != null">`create_date`= #{createDate},</if>
			<if test="updateBy != null">`update_by`= #{updateBy},</if>
			<if test="updateDate != null">`update_date`= #{updateDate},</if>
			<if test="remarks != null">`remarks`= #{remarks},</if>
			<if test="temperature != null">`temperature`= #{temperature},</if>
			<if test="temperatureValue != null">`temperature_value`= #{temperatureValue}</if>
	    </set>
        where `id` = #{id}
	</update>
	
	<insert id="insert" parameterType="com.djk.web.entity.personResource.PeopleTemperature" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`people_temperature`
		(
			
			`create_by`,
			`create_date`,
			`update_by`,
			`update_date`,
			`remarks`,
			`temperature`,
			`temperature_value`,
			`del_flag`
		)
		values
		(
			
			#{createBy},
			#{createDate},
			#{updateBy},
			#{updateDate},
			#{remarks},
			#{temperature},
			#{temperatureValue},
			1
		)
	</insert>
	<select id="count" resultType="Integer">
		select count(*) from `people_temperature`
		 <include refid="whereConditions" /> 
	</select>

	<select id="findList" parameterType="com.djk.web.entity.personResource.PeopleTemperature" resultMap="PeopleTemperatureResult">
		SELECT * from people_temperature
		<include refid="whereConditions" />
	</select>
  
    <!-- 逻辑删除 -->
    <update id="delete" parameterType="Integer">
        update `people_temperature` 
        set `del_flag` = 2 where `id` = #{id}
	</update>
    <select id="checkNameUnique" parameterType="String" resultMap="PeopleTemperatureResult">
		select
		   *
		from `people_temperature`
		where `temperature` = #{temperature} and `del_flag` = 1
	</select>
</mapper>